#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

.fs-12 {
  font-size: 12px;
}

/*Switch darkmode*/
.container-dark {
  background-color: #050505da;
  color: aliceblue;
}

.container-light {
  background-color: #54507b;
  color: aliceblue;
}

/* img swithc */

.claro-oscuro {
  width: 30px;
}

.swiper {
  margin-left: 0px !important;
  margin-right: 0px !important;
  /* position: relative; */
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  display: block;
}

.swiper {
  width: 600px;
  height: 650px;
}

.imagen-card {
  width: 350px;
  height: 450px;
}

.imagen-card-detalle {
  width: 100%;
}

.centrado {
  display: flex;
  justify-content: center;
}

.swiper-3d {
  perspective: 1200px;
}

/* Media query for tablets */
@media (max-width: 768px) {
  .swiper {
    width: 300px;
    height: 500px;
  }
  .imagen-card {
    width: 100%;
    height: 350px;
  }
}

/* Media query for mobile devices */
@media (max-width: 480px) {
  .swiper {
    width: 280px;
    height: 550px;
  }

  .imagen-card {
    width: 100%;
    height: 350px;
  }
  .centrado {
    display: flex;
    justify-content: start;
  }

  .swiper-3d {
    perspective: 700px !important;
  }
}

.swiper-slide {
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.swiper-slide:nth-child(1n) {
  background-color: rgb(206, 17, 17);
}

.swiper-slide:nth-child(2n) {
  background-color: rgb(0, 140, 255);
}

.swiper-slide:nth-child(3n) {
  background-color: rgb(10, 184, 111);
}

.swiper-slide:nth-child(4n) {
  background-color: rgb(211, 122, 7);
}

.swiper-slide:nth-child(5n) {
  background-color: rgb(118, 163, 12);
}

.swiper-slide:nth-child(6n) {
  background-color: rgb(180, 10, 47);
}

.swiper-slide:nth-child(7n) {
  background-color: rgb(35, 99, 19);
}

.swiper-slide:nth-child(8n) {
  background-color: rgb(0, 68, 255);
}

.swiper-slide:nth-child(9n) {
  background-color: rgb(218, 12, 218);
}

.swiper-slide:nth-child(10n) {
  background-color: rgb(54, 94, 77);
}

/* boton detalle  */
.btnfos {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  position: relative;
  text-transform: uppercase;
  width: 100%;
}
@media (min-width: 400px) {
  .btnfos {
    display: inline-block;
    margin-right: 2.5em;
  }
  .btnfos:nth-of-type(even) {
    margin-right: 0;
  }
}
@media (min-width: 600px) {
  .btnfos:nth-of-type(even) {
    margin-right: 2.5em;
  }
  .btnfos:nth-of-type(5) {
    margin-right: 0;
  }
}

.btnfos-4 {
  border: 1px solid;
  overflow: hidden;
  position: relative;
}
.btnfos-4 span {
  z-index: 20;
}
.btnfos-4:after {
  background: #fff;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.2;
  position: absolute;
  top: -50px;
  width: 50px;
  -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  transform: rotate(35deg);
  z-index: -10;
}

.btnfos-4:hover:after {
  left: 120%;
  -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}
